{% import '_includes/forms' as forms %}

{{ forms.autosuggestField({
    label          : 'HubSpot Token',
    name           : 'hsToken',
    value          : settings['hsToken'],
    instructions   : "Learn how to get your token at <a href='https://jordanbeattie.com/how-to-create-hubspot-access-tokens'>jordanbeattie.com/how-to-create-a-hubspot-token</a>",
    required       : true,
    autofocus      : true,
    suggestEnvVars : true
}) }}

{{ forms.textField({
    label          : 'HubSpot Limit',
    name           : 'hsLimit',
    value          : settings['hsLimit'],
    instructions   : "Set the limit of forms returned per page when requesting all forms",
    required       : false,
    autofocus      : true,
    placeholder    : 100,
    type           : 'number',
    min            : 1, 
    max            : 100,
}) }}