{% import '_includes/forms' as forms %}

{{ forms.autosuggestField({
    label          : 'HubSpot Token',
    name           : 'hsToken',
    value          : settings['hsToken'],
    instructions   : "Learn how to get your token at <a href='#'>jordanbeattie.com/how-to-create-a-hubspot-token</a>",
    required       : true,
    autofocus      : true,
    suggestEnvVars : true
}) }}

{{ forms.autosuggestField({
    label          : 'Hubspot Portal ID',
    name           : 'hsPortalId',
    value          : settings['hsPortalId'],
    disabled       : true,
    instructions   : "This will be retrieved automatically after inputting a valid HubSpot Token"
}) }}
